
p {
color: #050505;
font-size: 24px;
}

.estilo1 {
    color: #b51a1a;
    font-size: 24px;
}
.estilo2 {
    color: blue;
    font-size: 24px;
}
#footer {
    background-color: #A81D00;
    color: white;
    text-align: center;
    padding: 10px 0;
}